@{
    ViewBag.Title = "Home Page";
}
<div>Forum</div>
<div id="="auth_block>
    <form method="POST">
        Логин:<input name="user_login" />
        Password:<input type="password" name="user_pass" />
        <button>Enter</button>        
        <input type="button" value="Registration" onclick="window.location ='/User'" />
        <input type="button" value="Forgot password?" onclick="window.location ='/User'" />
    </form>
</div>